page-lend-book {
        .is-here{
            ion-card-content, ion-card-header, ion-grid {
                background-color: color($colors,secondary-light);
            }
        }
        .is-here-no{
            ion-card-content, ion-card-header, ion-grid {
                background-color: color($colors,danger-light);
            }
        }
        .button {
            border: none;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
          }
          .button4 {border-radius: 12px;}
}
