<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <button ion-button (click)="dismissModal()">
            <span ion-text color="primary" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android,windows,browser,core,webmobile"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{ book.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card [ngClass]="{'is-here':book.isHere,'is-here-no':!book.isHere}">
    <ion-card-header>{{book.name}}</ion-card-header>
    <ion-card-content>
      <p>{{book.description}}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button full color="danger" [disabled]="!book.isHere" (click)="onToggleBook()"
            [ngClass]="{'button':true,'button4':true}">Reservé</button>
        </ion-col>
        <ion-col>
          <button ion-button full color="secondary" [disabled]="book.isHere" (click)="onToggleBook()"
            [ngClass]="{'button':true,'button4':true}">Rendre</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>