<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item icon-start (click)="onNavigate(tabsPage)">
                <ion-icon name="Content"></ion-icon>
                Livre et Cd
            </button>
            <button ion-item icon-start (click)="onNavigate(settingPage)">
                <ion-icon name="Setting"></ion-icon>
                Options
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #content></ion-nav>