<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="onToggleMenu()">
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>Livre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <button ion-item *ngFor="let book of booksList; let i=index" (click)="onLoadBook(i)" icon-start>
          <ion-icon name="book" [color]="book.isHere?'secondary':'danger'" item-start></ion-icon>
          {{book.name}}
      </button>
  </ion-list>
</ion-content>