<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismissModal()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows,browser,core,webmobile"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ cd.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card [ngClass]="{'is-here':cd.isHere,'is-here-no':!cd.isHere}">
    <ion-card-header>{{cd.name}}</ion-card-header>
    <ion-card-content>
      <p>{{cd.description}}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button full color="danger" [disabled]="!cd.isHere" (click)="onToggleCd()"
            [ngClass]="{'button':true,'button4':true}">Reservé</button>
        </ion-col>
        <ion-col>
          <button ion-button full color="secondary" [disabled]="cd.isHere" (click)="onToggleCd()"
            [ngClass]="{'button':true,'button4':true}">Rendre</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>