<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="onToggleMenu()">
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>CD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <button ion-item *ngFor="let cd of cdsList; let i=index" (click)="onLoadCd(i)">
          <ion-icon name="arrow-dropright-circle" [color]="cd.isHere?'secondary':'danger'"></ion-icon>
          {{cd.name}}
      </button>
  </ion-list>
</ion-content>